body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,button,textarea,p,blockquote,th,td,a{margin:0;padding:0;border:0;outline:0;  font-family: "思源黑体 CN Regular";}
dl,ul,li{list-style:none}
a{text-decoration: none; cursor: pointer;}
img,a img,:link img,:visited img{border:0}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:normal}
em,i,u{font-style:normal;text-decoration:none}
ol, ul { list-style: none;}
table{border-collapse:collapse;border-spacing:0}
.clear{clear:both;height:0;overflow:hidden;display:block}
.clearfix{*zoom:1}
.clearfix:after{clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:"."}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
img{display: block;}